body{
    background: hsl(216, 12%, 8%);
    margin:0;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    color: hsl(0, 0%, 100%);
    display: grid;
    height: 100vh;
    place-content: center;
}

main{
    width: 355px;
    height: 360px;
    background: hsl(206, 30%, 13%);
    border-radius: 30px;
    padding: 30px;
    position: relative;
}

.staricondiv{
    width: 45px;
    aspect-ratio: 1;
    background: hsl(213, 19%, 18%);
    border-radius: 50%;
    display: grid;
    place-content: center;
}
h1{
    margin-top: 35px;
    margin-bottom: 0px;
}
p{
    margin-top: 10px;
    color: hsl(217, 12%, 63%);
    line-height: 24px;
}
.ratingbutton{
    appearance: none;
    background: hsl(213, 19%, 18%);
    width:50px;
    height:50px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left:18px;
    display: grid;
    float: left;
    place-items: center;
    font-size: 15px;
    font-weight: 700;
    color: hsl(216, 12%, 54%);
}
.ratingbutton::after{
    content:attr(value);
}
.first{
    margin-left: 0px;
}
.ratingbutton:checked{
    background:hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}
.ratingbutton:hover{
    cursor:pointer;
    background-color: hsl(216, 12%, 54%);
    color: hsl(0, 0%, 100%);
}

.submitbutton{
    width: 100%;
    height:45px;
    border: none;
    border-radius: 25px;
    background: hsl(25, 97%, 53%);
    color:hsl(0, 0%, 100%);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 25px;    
}
.submitbutton:hover{
    background: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

@media screen and (max-width:375px) {
    main{
        width: 275px;
        height: 300px;
        border-radius: 15px;
        padding: 25px;;
    }
    .staricondiv{
        width:40px;
        height:40px;
    }
    .staricon{
        height:13px;
        width: 14px;;
    }
    h1{
        font-size: 1.5rem;
        margin-top: 20px;
    }
    p{
        font-size:0.8rem;
        line-height: 20px;
    }
    .ratingbutton{
        width:40px;
        height:40px;
        margin-left:11px;
    }
    .first{
        margin-left: 0px;
    }
}